.services{
    background-color: antiquewhite;
    text-align: center;

}
.service{
    float: left;
    width: 20%;
    background-color: teal;
}
.clearfix{
    clear: both;
}
.class{
    float:initial;
}